<!--The content below is only a placeholder and can be replaced.-->
<bs-busyness></bs-busyness>

<div class="main-container">

  <div id="scroll-container">
    <section class="welcome-banner">
      <div class="link-section">
        <span>hola</span>
      </div>
      <h1>
        Busyness
      </h1>
      <h2>
        A loaders library for Angular. Totally Automated!
      </h2>
      <h3>
        Have fun playing with the next configurations ;)
      </h3>
    </section>
    
    <section class="overview" [ngClass]="{moveTop: moveTop, moveBottom: moveBottom}">
      <div class="stepper-container" *ngIf="moveTop">
        <mat-horizontal-stepper [linear]="true" labelPosition="bottom" [ngClass]="{expanded: moveTop}" #stepper>
            <mat-step [stepControl]="loaderForm">
              <ng-template matStepLabel>Pick a Loader</ng-template>
              <div class="loaders-container">
                <div class="inner-loader" *ngFor="let load of loaders">
                  <div class="{{load.type}}">
                    <div *ngFor="let div of load.divs" class="inner-divs">
                    </div>
                  </div>
                </div>
              </div>
              <div class="rb-button">
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
            <mat-step [stepControl]="configForm">
              <ng-template matStepLabel>Set Test Configuration</ng-template>
              second
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <button (click)="testObs()">Test With Http Requests</button>
              <button (click)="testSingle()">Test With Single Promise Emition</button>
              <button (click)="testMulti()">Test With Multi Promise Emition</button>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
      </div>
    </section>
  </div>
  
</div>