<!--The content below is only a placeholder and can be replaced.-->
<bs-busyness></bs-busyness>

<section class="welcome-banner">
  <div class="link-section">
    <a mat-icon-button href="https://github.com/abnerey/busyness">
      <mat-icon aria-label="source_code">code</mat-icon>
    </a>
    <a mat-icon-button href="https://www.npmjs.com/package/busyness">
      <mat-icon aria-label="get_app">get_app</mat-icon>
    </a>
  </div>
  <h1>
    Busyness
  </h1>
  <h2>
    A loaders library for Angular. Totally Automated!
  </h2>
  <h3>
    Have fun playing with the next configurations ;)
  </h3>
</section>

<section class="overview">
  <div class="stepper-container">
    <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
      <mat-step [stepControl]="loaderForm">
        <ng-template matStepLabel>Pick a Loader</ng-template>
        <div class="loaders-container">
          <div class="inner-loader" *ngFor="let load of loaders" (click)="onSelectLoader(load)">
            <div class="{{load.type}}">
              <div *ngFor="let div of load.divs" class="inner-divs">
              </div>
            </div>
          </div>
        </div>
        <div class="button-row">
          <button mat-flat-button color="accent" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="configForm">
        <ng-template matStepLabel>Set Test Configuration</ng-template>
        <div class="tests-container" [formGroup]="configForm">
          <div class="inner-test">
            <mat-form-field appearance="outline">
              <mat-label>Insert a number</mat-label>
              <input matInput type="number" [formControlName]="'requests'">
              <mat-icon matSuffix>send</mat-icon>
              <mat-hint>How many tests do you want?</mat-hint>
            </mat-form-field>
          </div>
          <div class="inner-test">
            <mat-form-field appearance="outline">
              <mat-label>Insert a time delay</mat-label>
              <input matInput type="number" [formControlName]="'timer'">
              <mat-icon matSuffix>timer</mat-icon>
              <mat-hint>How much delay do you want?</mat-hint>
            </mat-form-field>
          </div>
          <div class="inner-test">
            <mat-form-field appearance="outline">
              <mat-label>Insert a hint text</mat-label>
              <input matInput type="text" [formControlName]="'hint'">
              <mat-icon matSuffix>title</mat-icon>
              <mat-hint>Write an identifier string to show in the console</mat-hint>
            </mat-form-field>
            </div>
        </div>
        <div class="button-row">
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-flat-button color="accent" [disabled]="configForm.invalid" matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="tests-container">
          <div class="inner-test">
            <button mat-stroked-button color="primary" (click)="testObs()">Test With Http Requests</button>
          </div>
          <div class="inner-test">
            <button mat-stroked-button color="primary" (click)="testSingle()">Test With Single Promise Emition</button>
          </div>
          <div class="inner-test">
            <button mat-stroked-button color="primary" (click)="testMulti()">Test With Multi Promise Emition</button>
          </div>
        </div>
        <div class="button-row">
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-flat-button color="accent" (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>