<!--The content below is only a placeholder and can be replaced.-->
<bs-busyness></bs-busyness>

<div class="main-container">

  <div id="scroll-container">
    <section class="welcome-banner">
      <h1>
        Busyness
      </h1>
      <h2>
        A loaders library for Angular. Totally Automated!
      </h2>
      <h3>
        Have fun playing with the next configurations ;)
      </h3>
    </section>
    
    <section class="overview" [ngClass]="{moveTop: moveTop, moveBottom: moveBottom}">
      <!-- <button (click)="testObs()">Test With Http Requests</button>
      <button (click)="testSingle()">Test With Single Promise Emition</button>
      <button (click)="testMulti()">Test With Multi Promise Emition</button> -->
    </section>
  </div>
  
</div>