/* You can add global styles to this file, and also import other style files */
@import "~loaders.css/loaders.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@include mat-core();

$app-primary: mat-palette($mat-pink, A400);
$app-accent: mat-palette($mat-indigo, A700);

$app-theme: mat-light-theme(
  $app-primary,
  $app-accent
);

@include angular-material-theme($app-theme);

// BUSYNESS
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, .8);
  z-index: 999999;

  .loader-inner {
    margin-top: 50vh;
    margin-left: calc(50vw - 50px);

    div {
      background-color: #ed5565;
    }
  }

  .ball-scale-multiple {
    div {
      width: 100px;
      height: 100px;
    }
  }
}

@font-face {
  font-family: Questrial;
  src: url(assets/fonts/Questrial-Regular.ttf);
  font-weight: normal;
}


html, body {

  * {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
  }

}

html,
body,
label,
p,
h1,h2,h3,h4,h5,h6,
span,
div,
td {
  font-family: Questrial !important;
}

body {
  overflow-x: hidden;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  overflow: hidden;
}

#scroll-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.welcome-banner {

  text-align: center;
  background: #B24592;
  background: -webkit-linear-gradient(to right, #F15F79, #B24592);
  background: linear-gradient(to right, #F15F79, #B24592);
  color: white;
  height: 47vh;
  position: relative;

  .link-section {
    height: 150px;
    width: 100%;
    text-align: right;
    
    .mat-icon-button {
      margin: 10px 20px 0 0;
      width: 40px;
      height: 40px;
    }

    .mat-icon {
      font-size: 2.5em;
      text-align: center;
      width: 100%;
    }

  }

  h1 {
    display: inline-block;
    font-size: 5rem;
    /* padding-top: 150px; */
    margin-bottom: 30px;
    border-bottom: white 2.5px dashed;
    line-height: 1.15;
    letter-spacing: 10px;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    letter-spacing: 5px;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  h3 {
    font-size: 2rem;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in;
  }

}

.overview {
  text-align: center;
  background-color: white;
  height: 56vh;
  width: 99.78%;
  margin-top: -2vh;
  border-radius: 20px 20px 0 0;
  position: relative;
  box-shadow: 0px 6px 20px 5px rgba(0, 0, 0, 0.3);
}

.moveTop {
  margin-top: -31vh;
  height: 85vh;
  animation-name: moveTop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.moveBottom {
  margin-top: -2vh;
  height: 56vh;
  animation-name: moveBottom;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes moveTop {
  0% {
    margin-top: -2vh;
    height: 56vh;
  }

  100% {
    margin-top: -31vh;
    height: 85vh;
  }
}

@keyframes moveBottom {
  0% {
    margin-top: -31vh;
    height: 85vh;
  }

  100% {
    margin-top: -2vh;
    height: 56vh;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.stepper-container {
  position: relative;
  width: 100%;
  height: 100%;

  mat-horizontal-stepper {
    display: inline-block;
    opacity: 0;
    background-color: #fdfdfd;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 55px -10px rgba(0, 0, 0, 0.1);
  }

  .expanded {
    opacity: 1;
    overflow-y: hidden;

    animation-name: expand;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }

  mat-step-header {
    align-self: center;
  }

  mat-step-header[ng-reflect-active="true"] {

    .mat-step-label {
      font-size: 16px;
      font-weight: 600;
    }

  }

  .mat-horizontal-stepper-header-container {
    justify-content: center;
    padding: 1% 5%;
  }

  .mat-stepper-horizontal-line {
    border-top-width: 3px;
    border-top-style: dashed;
  }

  .mat-horizontal-content-container {
    height: 80%;
    position: relative;
  }
  
  .mat-horizontal-stepper-content {
    height: 100%;
    position: relative;
  }
}

.loaders-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  height: 85%;
  overflow: hidden;

  .inner-loader {
    align-items: center;
    justify-content: center;
    display: flex; 
    transition: all .3s;
  }

  .inner-loader:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
  }

  .inner-loader:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.2);
  }

  .inner-divs {
    background-color: #ed5565;
  }

}

.rb-button {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 320px) {
  .inner-loader {
    flex-basis: 33%;
    height: 110px;
  }

  mat-horizontal-stepper {
    margin-top: 10px;
    width: 90% !important;
  }

  .expanded {
    height: 80%;
  }

  mat-step-header[ng-reflect-active="false"] {
    display: none;
  }

  mat-step-header[ng-reflect-state="edit"] {
    display: none;
  }

  .mat-stepper-horizontal-line {
    display: none;
  }

  @keyframes expand {
    0% {
      height: 240px;
      opacity: 0;
    }
  
    100% {
      height: 80%;
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .inner-loader {
    flex-basis: 25%;
    height: 110px;
  }

  mat-horizontal-stepper {
    margin-top: 50px;

  }

  mat-step-header[ng-reflect-active="false"] {
    display: flex;
  }

  mat-step-header[ng-reflect-state="edit"] {
    display: flex;
  }

  .mat-stepper-horizontal-line {
    display: block;
  }
  
  .expanded {
    height: 80%;
  }

  @keyframes expand {
    0% {
      height: 240px;
      opacity: 0;
    }
  
    100% {
      height: 80%;
      opacity: 1;
    }
  }
}

@media (min-width: 1024px) {
  .inner-loader {
    flex-basis: 20%;
    height: 115px;
  }

  .expanded {
    height: 80%;
  }

  mat-horizontal-stepper {
    margin-top: 50px;
  }

  @keyframes expand {
    0% {
      height: 240px;
      opacity: 0;
    }
  
    100% {
      height: 80%;
      opacity: 1;
    }
  }
}

@media (min-width: 1200px) {
  .inner-loader {
    flex-basis: 14%;
    height: 147px;
  }

  mat-horizontal-stepper {
    margin-top: 100px;
  }

  .expanded {
    height: 80%;
  }

  @keyframes expand {
    0% {
      height: 240px;
      opacity: 0;
    }
  
    100% {
      height: 80%;
      opacity: 1;
    }
  }
}

.tests-container {
  display: flex;
  height: 90%;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: top;

  .mat-form-field {
    width: 20%;
  }

  .inner-test {
    display: flex;
    flex-basis: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
}

.button-row {
  text-align: right;

  button {
    margin-right: 15px;
  }
}